aws_region                   = "us-east-1"
name                         = "oneops-demo-ec2"
instance_type                = "t3.micro"
associate_public_ip_address  = true
root_volume_size             = 20

